.left-subject
    p.left-subject__title メニュー
.links
    a(href="about.pug").link-block #{siteTitle} とは？
    a(href="single.pug").link-block 発足の目的
    a(href="single.pug").link-block 沿革
    a(href="single.pug").link-block お知らせ
    a(href="single.pug").link-block 情報技術についての知識
    a(href="single.pug").link-block 環境への取り組み
    a(href="single.pug").link-block 入会する
    a(href="single.pug").link-block 取材について
    a(href="single.pug").link-block よくある質問
