extends ../layouts/layout
block top
    .hero todo hero 写真 カルーセル
block main
    .section_heaer
        h2.section_heaer__title メインメニュー
    .panel-block
        .panel-block__panel.panel #{siteTitle} とは？
        .panel-block__panel.panel 発足の目的
        .panel-block__panel.panel 沿革
        .panel-block__panel.panel お知らせ
        .panel-block__panel.panel 情報技術についての知識
        .panel-block__panel.panel 環境への取り組み
        .panel-block__panel.panel 入会する
        .panel-block__panel.panel 取材について
        .panel-block__panel.panel よくある質問
block left
    .left-subject
        p.left-subject__title 関連リンク
    .links
        .link-block todo:画像
        .link-block todo:画像
        .link-block todo:画像


