extends ../layouts/layout
block style
    link(rel="stylesheet" type="text/css" href="../css/pages/index.scss")
block top
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                img.slide__images(src="../images/sample.png")
            .swiper-slide
                img.slide__images(src="../images/sample.png")
            .swiper-slide
                img.slide__images(src="../images/sample.png")
            .swiper-slide
                img.slide__images(src="../images/sample.png")
            .swiper-slide
                img.slide__images(src="../images/sample.png")
            .swiper-slide
                img.slide__images(src="../images/sample.png")
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
        .swiper-scrollbar
block main
    .section_heaer
        h2.section_heaer__title メインメニュー
    .panel-block
        a.panel-block__panel.panel(href="single.pug")
            p.panel__text #{siteTitle} とは？
            img.panel__image(src="../images/sample2.png")
        a.panel-block__panel.panel(href="#")
            p.panel__text 発足の目的
            img.panel__image(src="../images/sample2.png")
        a.panel-block__panel.panel(href="#")
            p.panel__text 沿革
            img.panel__image(src="../images/sample2.png")
        a.panel-block__panel.panel(href="#")
            p.panel__text お知らせ
            img.panel__image(src="../images/sample2.png")
        a.panel-block__panel.panel(href="#")
            p.panel__text 情報技術についての知識
            img.panel__image(src="../images/sample2.png")
        a.panel-block__panel.panel(href="#")
            p.panel__text 環境への取り組み
            img.panel__image(src="../images/sample2.png")
        a.panel-block__panel.panel(href="#")
            p.panel__text 入会する
            img.panel__image(src="../images/sample2.png")
        a.panel-block__panel.panel(href="#")
            p.panel__text 取材について
            img.panel__image(src="../images/sample2.png")
        a.panel-block__panel.panel(href="#")
            p.panel__text よくある質問
            img.panel__image(src="../images/sample2.png")
block left
    .left-subject
        p.left-subject__title 関連リンク
    .links
        .link-block todo:画像
        .link-block todo:画像
        .link-block todo:画像


