extends ../layouts/layout
block style
block top
block main
    .main-wrapper
        .main-wrapper__hero.hero
            img.hero__image.js-hero(src="../images/sample.png")
            .hero__text
                h1.hero__title #{siteTitle} とは？
                // .hero__subtitle #{siteTitle} に関する情報をお知らせします。
        .main-wrapper__article.article
            h2.article__headline.article__headline--top #{siteTitle} とは？
            .article__body
                p.article__p #{siteTitle}（略称：全情会）は、平成元年7月26日に全日本遊技業組合連合会として発足し、平成11年3月24日には、情報技術産業における最も大切な会のうちに一つだと世界中から認められるようになりました。
                p.article__p 今なお、世界中の世界中の情報技術者に大きな問いを投げ続けています。
            h2.article__headline タイトルテストタイトルテストタイトルテスト。
            .article__body
                p.article__p 本文てすとおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお
            h2.article__headline タイトルテストタイトルテストタイトルテスト。
            .article__body
                p.article__p 本文てすとおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお
                img.article__image(src="../images/sample2.png")
                p.article__p 本文てすとおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお
block left
    include common/left_menu_site


