.links {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.link-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 60px;
  background: #6ca6b4;
  border-radius: 6px;
}
.left-subject {
  padding: 5px 15px;
  border-radius: 4px;
  background: #2c3a57;
  opacity: 0.7;
  &__title {
    color: #f7ffef;
    font-size: 22px;
  }
}
.main-wrapper {
  &__hero {
  }
  &__article {
    margin-top: 12px;
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  &__image {
    position: absolute;
    bottom: -5px; //todo: blur縁対策 スマートにしたい
    left: -10px; //todo: blur縁対策 スマートにしたい
    width: 110%; //todo: blur縁対策 スマートにしたい
    height: 400px;
    filter: blur(5px);
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
  }
  &__title {
    letter-spacing: 3px;
  }
  &__subtitle {
    letter-spacing: 1px;
  }
}
.article {
  &__headline {
    margin-top: 20px;
    background: $headerBackground;
    opacity: 0.7;
    padding: 2px 10px;
    &--top {
      margin-top: 0;
    }
    font-size: 22px;
    letter-spacing: 1px;
  }
  &__body {
    margin-top: 10px;
    line-height: 1.8;
  }
  &__image {
    display: block;
    margin: 20px auto;
    width: 50%;
    height: 50%;
  }
  &__p {
  }
}
